/* Tour.css */

.tour-container {/*helyettesítve inline stílussal*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    margin:40px auto 0 auto;
  position: relative;
  }
  .tour-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(50px);
    background: inherit; /* A háttérszín megegyezik a konténer háttérszínével */
    z-index: -1; /* Elhelyezi a háttérblur alá */
  }
  
  .tour-holder {
    max-width: 800px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;     
    background-color: aliceblue;
    margin: 1rem;
  }
  

  .tour-image {
    width: 100%;
   
    object-fit: cover;
  }
  
   
  .tour-description {
    font-size: 1rem;
    color: #555;
    padding: 16px;
    text-indent: 25px;
  }
  
  .tour-price {
    max-width: 200px;
   
    font-weight: bold;
    padding: 8px;
    background-color: #4caf50;
    color: white;
    border-radius: 15px;
    margin:auto;
    text-align: center;
  }
  .buttons{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 1rem;
  }
  .details-h3{
    color:black;
    text-align: center;
    padding: 1rem;;
    margin-top: 15px;
  }
  